* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #76c893;
    background-image: linear-gradient(to left, #34a0a4, #76c893);
    padding-top: 50px;
}

.content {
    width: 300px;
    height: 300px;
    margin: auto;
    border: 10px solid #487758;
    border-radius: 10px;
    background-size: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.619);
}